.card {
  margin: 1rem;
  padding: 1.5rem;
  background-color: #4a8bed;
  border-radius: 10px;
  max-width: fit-content;
}

.title{
  font-size: 15px;
  font-weight: 300;
  flex: auto;
}

.title{
  font-size: 22px;
  font-weight: 600;
}